.container-register {
  padding-bottom: 58px;
}

.form-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f3f3f3;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-div {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.first-div p {
  color: rgba(193, 13, 25, 0.67);
  font-weight: bold;
}
.first-div label {
  margin-bottom: 10px;
  margin-top: 3px;
  border-color: black;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 15px;
}

.first-div input {
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.second-div {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.second-div button {
  width: 240px;
}

.second-div p {
  color: rgba(193, 13, 25, 0.67);
  font-weight: bold;
}
.second-div label {
  margin-bottom: 10px;
  margin-top: 3px;
  border-color: black;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 15px;
}

.second-div input {
  margin-bottom: 10px;
  margin-top: 3px;
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}
.first-col {
  padding: 57px;
  display: flex;
  justify-content: center;
  width: 50%;
}
.second-col {
  padding: 57px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.register-btn-group {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.register-btn-group button:nth-child(1) {
  margin-right: 10%;
}

/* .form-section div section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-section div section div {
    display: flex;
    flex-direction: row-reverse;
}

.form-section div section div button {
    margin-right: 15px;
    margin-left: 15px;
    background-color: #6acc86;
    font-family: "Montserrat";
    font-weight: bolder;
    border-radius: 3px;
    padding: 10px;
    border: #ababab 1px;
    width: 150px;
} */

.Title {
  margin-left: 50px;
  font-size: 30px;
  color: #2f333b;
}

.Img {
  width: 100%;
}
