.container-clients {
  list-style-type: none;
}

.client-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.client-info {
  background-color: white;
  list-style-type: none;
  color: black;
  border-radius: 5px;
  border: 1px solid #ababab;
  flex-grow: 1;
  margin-right: 50px;
  height: 50px;

  display: flex;
}

.client-info span:nth-child(1) {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-transform: uppercase;
}
.client-info span:nth-child(2) {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #b6b6b6;
}

.btn-edit {
  margin-right: 12px;
  width: 50px;
  height: 44px;
}

.btn-delete {
  width: 50px;
  height: 44px;
}
